.countryContainer{
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 1.5rem;
    box-shadow:var(--box-shadow);
}
.overview_panel{
    padding: 1.2rem;
    width: 100%;
    height:380px;
    border-radius: 8px;
    box-shadow:var(--box-shadow);
    background-color: var(--background-color-light);
    border: 1px solid var(--text-color-secondary);
}
.overview_panel img{
    width: 100%;
    height:100px;
}
.overview_name{
    text-align: center;
    font-size:2.3rem;
    margin-bottom: 0;
}
.overview_region,.overview_subregion{
    text-align: center;
}
.overview_region{
    font-size:1rem;
    font-weight: 400;
    margin-bottom: 0.6rem;
}
.overview_subregion{
    font-size:0.8rem;
    font-weight: 300;
    margin-bottom: 2.3rem;
}
.overview_numbers{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
    text-align: center;
}
.overview_label{
    font-size:0.8;
    color:var(--text-color-secondary);
}
.details_panel{
    background-color: var(--background-color-light);
    box-shadow:var(--box-shadow);
    border-radius: 0.5rem;
    height:561px;
    border: 1px solid var(--text-color-secondary);
}
.details_panel_heading{
    padding: 0rem 1rem;
    font-size:1.6rem;
    text-align: center;
}
.details_panel_row{
    display: flex;
    justify-content: space-between;
    padding:1.25rem;
    border-bottom: 1px solid var(--text-color-secondary);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.details_panel_label{
    color:var(--text-color-secondary);
}

@media only screen and (min-width:768px) and (max-width:921px){
    .countryContainer{
        display: grid;
        grid-template-columns: 350px 450px;
        column-gap: 0rem;
    }
    .overview_panel{
        padding: 1rem;
        width: 80%;
        height:330px;
    }
    .overview_panel img{
        width: 100%;
        height:80px;
    }
    .overview_name{
        font-size:2rem;
    }
    .overview_region{
        margin-bottom: 0.4rem;
    }
    .overview_subregion{
        margin-bottom: 2rem;
    }
    .details_panel_heading{
        padding: 0rem 0.5rem;
        font-size:1.4rem;
    }
    .details_panel_row{
        padding:0.8rem;
    }
}

@media only screen and (max-width:768px){
    .countryContainer{
        grid-template-columns:1fr;
        column-gap: 0rem;
        row-gap: 0.6rem;
    }
    .overview_panel{
        padding: 1rem;
        width: 100%;
        height:330px;
    }
    .overview_panel img{
        width: 100%;
        height:80px;
    }
    .overview_name{
        font-size:2rem;
    }
    .overview_region{
        margin-bottom: 0.4rem;
    }
    .overview_subregion{
        margin-bottom: 2rem;
    }
    .details_panel{
        height:470px;
    }
    .details_panel_heading{
        padding: 0rem 0.5rem;
        font-size:1.4rem;
    }
    .details_panel_row{
        padding:0.8rem;
    }
}
   

@media only screen and (min-width:348px) and (max-width:468px) {
    .overview_name{
        font-size:1.5rem;
    }
    .details_panel{
        height:470px;
    }
    .details_panel_heading{
        padding: 0rem 0.5rem;
        font-size:1.4rem;
    }
    .details_panel_label{
        font-size:12px;
    }
    .details_panel_value{
        font-size:14px;
    }

}

@media only screen and (max-width:348px) {
    .overview_name{
        font-size:1.3rem;
    }
    .details_panel{
        height:470px;
    }
    .details_panel_heading{
        padding: 0rem 0.5rem;
        font-size:1.2rem;
    }
    .details_panel_row{
        padding:0.8rem;
    }
    .details_panel_label{
        font-size:12px;
    }
    .details_panel_value{
        font-size:12px;
    }

}
